:root {
    all:initial;
    /* add color base on type */
}


body {
    all: initial;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.poke-nav{
    margin-left: -10%;
    position: fixed;
    top: 0;
    height: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 110%;
    overflow: collapse;
    z-index: 9999;
}

.poke-nav .name {
    width: 30%;   
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
    font-size: 3em;
}

.poke-nav .button{
    background: #a4a4a4;
    height: 50px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    cursor: pointer;
    transition: 0.5s;
}

.poke-nav .button:hover{
    background: greenyellow;
}

.poke-nav .button:hover::before{
    background: greenyellow;
}

.poke-nav .button .arrow{
    width: 36px;
    height: 36px;
    align-self: center;
    justify-self: center;
}

.poke-nav .button#prev .arrow
{
    transform: rotate(180deg);
}

.poke-nav .button:before{
    position: absolute;
    top: -200px;
    content: '';
    width: 50px;
    height: 500px;
    background: #a4a4a4;
    transform: rotate(-90deg);
    z-index: -1;
    transition: 0.5s;
}

.poke-nav .button#prev:before
{
    left: 0;
    border-bottom-left-radius: 100px;
}

.poke-nav .button#next:before
{
    right: 0;
    border-top-left-radius: 1000px;
}

.info{
    position: relative;
    margin-top: 5em;
    display: flex;
    flex-wrap: wrap;
    height: calc(100vh - 100px);
    width: 90vw;
    background: rgba(0, 0, 0, 0.1);
    justify-content: space-evenly; 
    align-items: center;
}

.info .card-holder{ 
    display: flex;
    flex-direction: column;
    max-width: 25%;
}

.card-holder .image-holder{
    background: green;
    border-radius: 15px;
}


.card-holder img{
    width: 100%;
    height: 100%;
}

.info .information{
    max-width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info .information .description{
    max-height: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.info .information .description p{
    font-size: 2em;
    text-align: center;
}

.info .information .basic-info {
    position: relative;
    background: green;
    border-radius: 25px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,0.5fr);
    grid-template-rows: repeat(2,0.5fr);
}


.basic-info .slot {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.basic-info .slot h3{
    font-size: 2em;
    text-align: center;
    color: white;
}

.basic-info .slot p{
    font-size: 1.5em;
}

.basic-info .slot a{
    text-decoration: none;
    color: inherit;
    font-size: 1.5em;
    cursor: pointer;
}

.slot .habilities{
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.basic-info .slot .hability{
    position: relative;
    cursor: pointer;
}

.hability .tooltip{
    top: 0%;
    left: 0%;
    width: 400px;
    padding: 20px;
    border-radius: 25px;
    transform: translate(-70%,-100%);
    background: white;
    transition: 1s;
    transition-delay: 0.3s;
    z-index: -1;
}

.hability .tooltip h3 {
    color: green;
}

.hability:hover .tooltip{
    visibility: visible;
    opacity: 1;
    transform: translate(-100%,-100%);
    z-index: 1;
}


.info .pokemon-stats{
    position: relative;
    min-width: 60%;
    min-height: 300px;
    background: red;
}

.info .pokemon-stats h3{
    position: relative;
    font-size: 1.5em;
    top: 5%;
    left: 2%;
}

.pokemon-stats .stats{
    position: absolute;
    min-width: 100%;
    min-height: 90%;
    bottom: 0;
    background: transparent;
    display: flex;
}

.info .pokemon-stats .stat{
    position: relative;
    flex: 1 ; 
    text-align: center;
}

.info .pokemon-stats .stat .name{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    font-size: 0.9em;
}

.info .pokemon-stats .stat .value-list{
    position: absolute;
    width: 30%;
    min-height: 90%;
    background: red;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%) rotate(-180deg);
    transition: 0.5s;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.info .pokemon-stats .stat .value-list .value{
    width: 100%;
    height: 10px;
    background: #9bcc50;
    opacity: 0;
} 

.info .types {
    min-width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: red;
}

.types h3{
    font-size: 1.5em;
    color: white;
}

.types .types-box{
    max-width: 500px;
    max-height: 500px;
    display: grid;
    grid-template-columns: repeat(auto-fit,75px);
    gap: 10px;
    grid-auto-flow: row;
    grid-auto-rows: 50px;
    align-items: center;
}

.types-box .type{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    font-size: 1.3em;
    border-radius: 5px;
    color: white;
}

.evolutions{
    padding: 20px;
    max-height: 70vh;
    position: relative;
    margin: 75px 0px;
    width: 90vw;
    background: rgba(0, 0, 0, 0.1);
    display: grid;
    grid-auto-flow: column;
    grid-template-columns:repeat(auto-fit(minmax(50px,auto))) ;
    gap: 20px;
    grid-auto-rows: 1fr;
    align-items: center;
}

.evolutions .evalution{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.evalution .card {
    width: 100%;
    max-width: 200px;
    height: auto;
    display: flex;
    align-items: center;
}

.evalution .card img{
    width: 100%;
    max-width: 100%;
    height: auto;
}

.evalution .arrow{
    width: 48px;
    height: 48px;
    align-self: center;
    justify-self: center;
}











