{% extends "layout.html" %}
{% load static %}
{% block content %}

<header class="poke-nav">
    <!-- previus pokemon -->

    <!-- next pokemon -->
</header>

<section class="info" xmlns:pok="http://edcpokedex.org/" xmlns:pokpred="http://edcpokedex.org/pred" typeof="pok:Pokemon">

    <!-- <h1><b>Bulbassaur</b></h1> -->

    <div class="card-holder">
        <div class="image-holder">
            <img property="pok:art" src="{{ general_info.art }}"
                alt="NOT FOUND">
        </div>
    </div>

    <div class="information">
        <div class="description">
            <p property="pok:description">
                {{ general_info.description }}
            </p>
        </div>

        <div class="basic-info">
            <div class="slot">
                <h3>Height (centimeters)</h3>
                <p property="pok:height">{{ general_info.height }}</p>
            </div>
            <div class="slot">
                <h3>Weight (hectogram)</h3>
                <p property="pok:weight">{{ general_info.weight }}</p>
            </div>
            <div class="slot">
                <h3>Category</h3>
                <a href="Category?name=seed" property="pok:category">{{ category }}</a>
            </div>
            <div class="slot habilites">
                <h3>Abilities</h3>

                {% for ability in abilities %}
                    <a href="Ability?name={{ ability.name }}" property="pok:ability" >{{ ability.name }}</a>
                {% endfor %}

            </div>
        </div>
    </div>

    <div class="pokemon-stats">
        <h3>Stats</h3>
        <div class="stats">
            <div class="stat">
                <div class="value-list" data-value="{{ general_info.hp }}">
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                </div>
                <span class="name">HP</span>
            </div>
            <div class="stat">
                <div class="value-list" data-value="{{ general_info.attack }}">
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                </div>
                <span class="name">ATTACK</span>
            </div>
            <div class="stat">
                <div class="value-list" data-value="{{ general_info.defense }}">
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                </div>
                <span class="name">DEFENSE</span>
            </div>
            <div class="stat">
                <div class="value-list" data-value="{{ general_info.special_attack }}">
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                </div>
                <span class="name">SPECIAL ATTACK</span>
            </div>
            <div class="stat">
                <div class="value-list" data-value="{{ general_info.special_defense }}">
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                </div>
                <span class="name">SPECIAL DEFENSE</span>
            </div>
            <div class="stat">
                <div class="value-list" data-value="{{ general_info.speed }}">
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                    <span class="value"></span>
                </div>
                <span class="name">SPEED</span>
            </div>
        </div>
    </div>

    <div class="types">
        <h3>Types</h3>
        <div class="types-box">
            {% for type in types %}
                <div class="type">
                    <span property="pok:type">{{ type }}</span>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- <section class="info">
    <div class="weaknesses">

    </div>
</section> -->

<script type="text/javascript">
    $('.value-list').each(function (key, bar) {
        var value = $(this).data('value');
        var result = Math.ceil(value * 0.06);
        $(this).children().each(function (key, bar) {   
                if (key < result) {
                    $(bar).delay(200*key).animate(
                        { opacity: 1 },
                    )
                };
        })
    })
</script>

{% endblock %}
