{% extends "layout.html" %}
{% load static %}
{% block content %}


<body>

    <select class="drop" name="forma" onchange="location = this.value;">
        <option value="/">ALL</option>
        {% for type in types %}
        <option value="/?type={{ type }}">{{ type }}</option>
        {% endfor %}
    </select>

    <section class="pokedex">

        {% for pokemon in pokemon_list %}
        <div class="card">
            <div class="imgbox">
                <img src="{{ pokemon.2 }}" alt=""></img>
            </div>
            <a href="/pokemon/{{ pokemon.0 }}"></a>
            <h3>{{ pokemon.0 }} - {{pokemon.1}}</h3>
        </div>
        {% endfor %}


    </section>


</body>
{% endblock %}