{% extends "layout.html" %}
{% load static %}
{% block content %}

<body>

    <section class="teams">
        {% for team_name, pokemon_list in teams_dict.items %}
        <div class="team-info">
            <a href="/team/{{team_name}}"></a>
            <div class="team-name">
                <h3>{{team_name}}</h3>
            </div>

            <div class="team-pokemons">
                {% for pokemon in pokemon_list %}
                <div class="card" >
                    <div class="imgbox">
                        <a href="/pokemon/{{ pokemon.0 }}"></a>
                        <img src="{{ pokemon.2 }}" alt=""></img>
                    </div>
                    <h3>{{ pokemon.0 }} - {{pokemon.1}}</h3>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}

    </section>


</body>

<script type="text/javascript">
    $("#search").click(() => {
        const search_value = $("#search-input").val();
        window.location = `/?search=${search_value}`
    })
</script>
{% endblock %}